
.navbar-horizontal {
  width: 100%;
  background: #ffffff; 
  padding: 14px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
  border: 3px solid #f48b5e; 
  transition: background 0.3s, border-color 0.3s;
}


.navbar-horizontal .container {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}


.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand img {
  height: 60px;
  transition: transform 0.3s;
}

// .navbar-brand:hover img {
//   transform: translateX(-50%) scale(1.05);
// }

/* Left nav links */
.nav-left {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-left li a {
  text-decoration: none;
  color: #222222; 
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 0;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent; 
 font-family: 'Cookie', cursive;
}

.nav-left li a:hover {
  color: #0d6efd; 
  border-bottom: 2px solid #0d6efd;
  padding-bottom: 4px;
}


.mega-dropdown:hover .mega-menu {
  display: flex;
}

.mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: row;
  gap: 25px;
  background: #f8f9fa; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  z-index: 999;
}

.mega-column {
  flex: 1;
}

.mega-column h6 {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid #0d6efd;
  padding-bottom: 4px;
  margin-bottom: 10px;
  color: #0d6efd;
}

.mega-column .dropdown-item {
  display: block;
  padding: 4px 0;
  color: #333;
  transition: color 0.3s;
}

.mega-column .dropdown-item:hover {
  color: #0d6efd;
}
