body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.carousel {
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 16s infinite;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide .text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
.gallery-item {
  position: relative;
  height: 260px;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
}

.gallery-item .img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.7s ease, transform 0.5s ease; 
}


.gallery-item:hover .img {
  transform: scale(1.2); 
}

.gallery-item .img:not(.img-1) {
  opacity: 0;
}

.gallery-item:hover .img-1 {
  opacity: 0;
}
.gallery-item:hover .img-2 {
  opacity: 1;
}

.gallery-item:hover .img-3 {
  animation: imageCycle 3s infinite;
}

@keyframes imageCycle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s ease;
}

.gallery-item:hover .overlay {
  opacity: 1;
}
