body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.carousel {
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 16s infinite;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide .text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
.circle-wrapper {
  position: relative;
  width: 420px;
  height: 420px;
}

.big-circle {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 20px solid #4b4f58;
  overflow: hidden;
}

.big-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-circle {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 180px;
  height: 240px;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  background: #fff;
}

.small-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .circle-wrapper {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .small-circle {
    width: 140px;
    height: 180px;
    right: -10px;
    bottom: -10px;
  }
}
